<a href="https://colab.research.google.com/github/allansundays/one_model_per_day/blob/main/Melbourne_Dt_Rf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Model: Decision Tree\
DataSet: Melbourne Housing DataSet\
Intro to Machine Learning - Kagle: https://www.kaggle.com/learn/intro-to-machine-learning

In [45]:
# Import library

import pandas as pd

In [46]:
# save filepath to variable for easier access
melbourne_file_path = 'https://raw.githubusercontent.com/dipalira/Melbourne-Housing-Data-Kaggle/master/Data/Melbourne_housing_FULL.csv'

# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path)

# print a summary of the data in Melbourne data
melbourne_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  34857.000000  2.724700e+04  ...  26881.000000   34854.000000
mean       3.031012  1.050173e+06  ...    145.001851    7572.888306
std        0.969933  6.414671e+05  ...      0.120169    4428.090313
min        1.000000  8.500000e+04  ...    144.423790      83.000000
25%        2.000000  6.350000e+05  ...    144.933500    4385.000000
50%        3.000000  8.700000e+05  ...    145.007800    6763.000000
75%        4.000000  1.295000e+06  ...    145.071900   10412.000000
max       16.000000  1.120000e+07  ...    145.526350   21650.000000

[8 rows x 13 columns]

#Interpreting Data Description


*   count: how many rows have non-missing values
*   mean:
*   std: how numerically spread out the values are
* sorting each column from lowest to highest value:
*   min:the first or smallest value
* 25%: 25th percentile - a number that is bigger than 25% of the values and smaller than 75% of the values.
*50%: 50th percentile or median
*75%: 75th percentile
* max: is the largest number

In [47]:
# What is the average lot size (rounded to nearest integer)?

In [48]:
# As of today, how old is the newest home (current year - the date in which it was built)

In [49]:
#  a list of all columns in the dataset to choose variables
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [50]:
# dropna drops missing values
melbourne_data = melbourne_data.dropna(axis = 0)

In [51]:
# Selecting the "Prediction Target"
y = melbourne_data.Price

In [52]:
# Choosing "features"

melbourne_features = ['Rooms','Bathroom','Landsize','Lattitude','Longtitude']

X = melbourne_data[melbourne_features]

In [53]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  8887.000000  8887.000000   8887.000000  8887.000000  8887.000000
mean      3.098909     1.646450    523.480365   -37.804501   144.991393
std       0.963786     0.721611   1061.324228     0.090549     0.118919
min       1.000000     1.000000      0.000000   -38.174360   144.423790
25%       2.000000     1.000000    212.000000   -37.858560   144.920000
50%       3.000000     2.000000    478.000000   -37.798700   144.998500
75%       4.000000     2.000000    652.000000   -37.748945   145.064560
max      12.000000     9.000000  42800.000000   -37.407200   145.526350

In [54]:
X.head()

    Rooms  Bathroom  Landsize  Lattitude  Longtitude
2       2       1.0     156.0   -37.8079    144.9934
4       3       2.0     134.0   -37.8093    144.9944
6       4       1.0     120.0   -37.8072    144.9941
11      3       2.0     245.0   -37.8024    144.9993
14      2       1.0     256.0   -37.8060    144.9954

#Model - Decision Tree
The steps to building and using a model are:

Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.
Fit: Capture patterns from provided data. This is the heart of modeling.\
Predict: Just what it sounds like\
Evaluate: Determine how accurate the model's predictions are.

In [55]:
# Import library

from sklearn.tree import DecisionTreeRegressor

In [56]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [57]:
# Define Model
# Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state = 1)

In [58]:
# Fit model
melbourne_model.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [59]:
# making predictions for the first few rows of the training data to see how the predict function works

print("Making predctions for the following 5 houses:")
print(X.head())
print("The predctions are")
print(melbourne_model.predict(X.head()))

Making predctions for the following 5 houses:
    Rooms  Bathroom  Landsize  Lattitude  Longtitude
2       2       1.0     156.0   -37.8079    144.9934
4       3       2.0     134.0   -37.8093    144.9944
6       4       1.0     120.0   -37.8072    144.9941
11      3       2.0     245.0   -37.8024    144.9993
14      2       1.0     256.0   -37.8060    144.9954
The predctions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

# Mean Absolute Error (MAE)

- On average, our predictions are off by about X.

In [60]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

897.2844229398746

In [61]:
# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

1387.076207620762

In [62]:
# Creating a function to help compare MAE scores from different values for max_leaf_nodes:

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [63]:
# We can use a for-loop to compare the accuracy of models built with different values for max_leaf_nodes.
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  370319
Max leaf nodes: 50  		 Mean Absolute Error:  276132
Max leaf nodes: 500  		 Mean Absolute Error:  237314
Max leaf nodes: 5000  		 Mean Absolute Error:  253916

Of the options listed, 500 is the optimal number of leaves.

# Model - Random Forest

In [64]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state = 1)
forest_model.fit(train_X, train_y)

melb_preds = forest_model.predict(val_X)

print(mean_absolute_error(val_y, melb_preds))

190413.5497998371